.button {
    border-radius: 10px;
    background-color: #6278F7;
    padding: 28px 29px;
    outline: 0;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    color: #FFF;
    cursor: pointer;
}

.button:hover {
    color: #95FFD4;
}